{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>/* Crea un css que contenga esto e importalo */
        .marquee {
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
            width: 100%;
            font-size: 1.2em;
            color: #333;
            text-rendering: optimizeLegibility;
        }
        
        .marquee strong {
            display: inline-block;
            padding-left: 50%; /* Mantén suficiente espacio para que el texto entre en la pantalla sin retraso */
            animation: scroll-text 10s linear infinite; /* Reduce la duración para que sea más rápido */
            will-change: transform;
        }
        
        @keyframes scroll-text {
            0% {
                transform: translate3d(100%, 0, 0); /* Usa translate3d para mejor rendimiento */
            }
            100% {
                transform: translate3d(-100%, 0, 0);
            }
        }
        
    </style>
{% endblock %}

{% block title %}
Ayuda
{% endblock %}

{% block body %}
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid bg-jumbotron" style="background:  url(https://lh3.googleusercontent.com/d/1SamxPCx4uTRjjLHQqRR4EVmzU3LZckc1) no-repeat center center; background-size: cover;">
        <div class="container text-center">
            <h3 class="text-white display-3 mb-4">¿Cómo podemos ayudarte?</h3>
        </div>
    </div>
    <!-- Header End -->
    <!--<div class="banner">
    <div class="banner" style="text-align: center;">
    <p>Estamos aquí para ayudarte a aprovechar al máximo nuestra aplicación.</p>-->
    <div class="marquee mb-5">
        <strong>Necesitas Ayuda: Estamos aquí para ayudarte a aprovechar al máximo nuestra aplicación.</strong>
    </div>
    
    <div class="faq-list pr-5 pl-5">
        <!-- Pregunta 1 de Turno con el Boton-->
        <div class="faq-item">
            <h3>¿Está teniendo dificultades para programar un turno?</h3>
            <p>Si estás teniendo problemas...</p>            
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalTurno">
                Ver más información
            </button>
        </div>
        <hr>
        <!-- Pregunta 2 registro con boton-->
        <div class="faq-item mb-5">
            <h3>¿Está experimentando dificultades al momento de registrarte?</h3>
            <p>Si encuentras dificultades al registrarte, verifica que hayas completado todos los campos requerido..</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalRegistro">
                Ver más información
            </button>
        </div>
    </div>

    <!-- Modal para programar turno -->
    <div class="modal fade" id="modalTurno" tabindex="-1" role="dialog" aria-labelledby="modalTurnoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTurnoLabel">Ayuda para programar un turno</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><!--Boton para cerrar la ventana T-->
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Asegúrate de completar todos los campos obligatorios, y verifica que el servicio esté disponible si el problema sigue comunicate con nuestro equipo.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para problemas de registro mas boton-->
    <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="modalRegistroLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRegistroLabel">Ayuda para registrarte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Asegúrate de que todos los campos estén llenos correctamente y que el correo no esté ya registrado.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}