{% extends 'base.html' %}
{% load static %}

{% block style %}

{% endblock %}
{% block title %}{% endblock %}

{% block body %}
<div class="banner">
    <div class="banner" style="text-align: center;">
    <h1>¿Cómo podemos ayudarte?</h1>
    <p>Estamos aquí para ayudarte a aprovechar al máximo nuestra aplicación.</p>
</div>

<div class="faq-list">
    <div class="faq-item">
        <h3>¿Está teniendo dificultades para programar un turno?</h3>
        <p>Agregar Video</p>
    </div>
    <div class="faq-item">
        <h3>¿Está experimentando dificultades al momento de registrarte?</h3>
        <p> Agregar Video</p>
    </div>

    <div class="faq-item">
        <h3>¿No encontraste lo que buscabas?</h3>
        <p> Para asistencia personalizada, no dudes en contactarnos por la redes. Estamos aquí para ayudarte!</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}