{% extends "../base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/galeria.css' %}"> <!--DENTRO ESTÁ TAMBIÉN EL CÓDIGO CSS DE LA GALERÍA-->
{% endblock %}

{% block title%}
    Galería
{% endblock %}

{% block body %}
    
    <h2 class="descripcion mt-5">Acá les mostramos un poquito de nuestro día a día en Juliett Studio!</h2>

    <hr>

    <h2 class="subtitulo">Lugar de Trabajo</h2>

    <div class="galeria">
    
        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1GavdElHWSLgO5Ar1e74Afk72xFjeOBWp">
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1t10cpEKFA1xkdx9a-fhT7MMdqMcrxBG9" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1ydzOdjkPqeolsZBoZS9knybS3mn7yg2C" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1THrBl6DyHI1G13N4dt4Cwx9EZiRUeLGk" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1pTxPOgVF84g2zpHDOILnljvOvyHkdcoa" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1i22OTJZEKvacR5J2Iv9t5gxp4b-Pwq8j" >
            </figure>
        </div>

        <!--div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1FiuTRIFXHGfYDZbYn4XNVemU_onOAR05" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1SamxPCx4uTRjjLHQqRR4EVmzU3LZckc1" >
            </figure>
        </div>

        <div class="contenedor-imagen"> 
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1GavdElHWSLgO5Ar1e74Afk72xFjeOBWp" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1i22OTJZEKvacR5J2Iv9t5gxp4b-Pwq8j" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1ydzOdjkPqeolsZBoZS9knybS3mn7yg2C" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1t10cpEKFA1xkdx9a-fhT7MMdqMcrxBG9" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure >
                <img src="https://lh3.googleusercontent.com/d/1pTxPOgVF84g2zpHDOILnljvOvyHkdcoa" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1THrBl6DyHI1G13N4dt4Cwx9EZiRUeLGk" >
            </figure>
        </div>-->

    </div>

    <hr>
    
    <h2 class="subtitulo">Servicios</h2>

    <div class="galeria">

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1GRU9uVg8DQY_5lqAv332jkpWKmHhhVH4">
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1j438AlvvPneWrIWGHEsqTeyZLOKgMypM" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1KNb9p6Y7wJpKQ2SlE8on0k8l4kfTe_Lu" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1Cdc0ewPfauvDFZmEHh_ZU8B38hs36v4D" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1d14WBf-JMVz8o-IsTqkjcRaHtAWMjvmM" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1RcO9-tk_nuFTkbeJTbgMkR-Xb0io1LkZ" >
            </figure>
        </div>

        <!--div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1aZfdvVr7wWKxLQarWWwtoPWqliCQ9gzQ" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1xQf0tE55llXnXC6rP8gVUu3nGek6r0Ng" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1fbDV-EDvtWdpAIUmmSPz3Rmpanpc_ZXx" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1l2_ZidDT52nfMdVDoordocGVCdLbzib8" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1S_rd8PuuzEbIO5kQulHx98jAR3JdJxq8" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1iV0w11zXlUTMyxXYuuaQiFUKW0XVZMwb" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1MexOgEM_el6U8OTZ5AfXhUilPe517UNz" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure >
                <img src="https://lh3.googleusercontent.com/d/1GDmxYH0Sfpw4_0Cg6jRvB2D5STbwr6yq" >
            </figure>
        </div>-->

    </div>

    <hr>

    <h2 class="subtitulo">Depilación y Faciales</h2>

    <div class="galeria mb-5">
        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1h0d-8dspjOyvxeWqRNP-3SMUGmDM3b7V">
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1KzXva9kDCzaj4UZdUXVjNIMX03BCF7f4" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1rUTbSyRE6QzeaVMc5ROv4R6bKJ6Sg5Sy" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/14jQKnUzkG70C1RXAkWFG8ksG7fPY9u6D" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1-f81axEz5QauoxOrEbXUz4CIQn_MAKgF" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1W9I3Xlda98pUxPXuaFpPLjNtomPWo6YM" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1oADjWPfhiOJzSiB412iYOTcFPJudRLRb" >
            </figure>
        </div>

        <!--div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1AiqUz9DTLGeM6FxYYFjEtUQ6n2QBnZPQ" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1U6NSAmMj_Sza8TDGOv3D2whVUIJMqNiK" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1UUmLb3fUqXUa0oHiXMqyDib27GBkSJmL" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1D1Z-TmMZc8lPB4eIHtc8TURbQiU0Cd-_" >
            </figure>
        </div>

        <div class="contenedor-imagen"> 
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1oADjWPfhiOJzSiB412iYOTcFPJudRLRb" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure >
                <img src="https://lh3.googleusercontent.com/d/1W9I3Xlda98pUxPXuaFpPLjNtomPWo6YM" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="https://lh3.googleusercontent.com/d/1h0d-8dspjOyvxeWqRNP-3SMUGmDM3b7V" >
            </figure>
        </div>
    </div>-->

{% endblock %}

{% block scripts %}

{% endblock %}
