{% extends "../base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/galeria.css' %}"> <!--DENTRO ESTÁ TAMBIÉN EL CÓDIGO CSS DE LA GALERÍA-->
    <!--<link rel="stylesheet" href="{% static 'css/galeria.css' %}"> -->
{% endblock %}

{% block title%}
    Galería
{% endblock %}

{% block body %}
    
    <h2 class="descripcion">Acá les mostramos un poquito de nuestro día a día en Juliett Studio!</h2>
    <hr>
    <h2 class="subtitulo">Lugar de Trabajo</h2>

    <div class="galeria">
        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio1.jpg' %}">
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio2.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio4.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio3.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio5.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio6.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio7.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio8.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio3.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio4.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio2.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio1.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure >
                <img src="{% static 'img/estudio7.jpg' %}" >
            </figure>
        </div>

        <div class="contenedor-imagen">
            <figure>
                <img src="{% static 'img/estudio5.jpg' %}" >
            </figure>
        </div>

    </div>

    <hr>
    <h2 class="subtitulo">Servicios</h2>
    

        <div class="galeria">
            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una3.jpg' %}">
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una2.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Pestañas-1.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una4.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una5.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una6.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una10.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una16.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una7.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una9.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Pestañas-2.jpeg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una1.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure >
                    <img src="{% static 'img/una11.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una13.jpg' %}" >
                </figure>
            </div>

        </div>

        <hr>
        <h2 class="subtitulo">Depilación y Faciales</h2>

        <div class="galeria">
            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Facial-1.jpg' %}">
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Facial-2.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/masaje.jpeg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Facial-3.jpeg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Masajes-2.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/depi-1.jpeg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Masajes-3.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Masajes-4.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Masajes-1.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/depi.jpeg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Facial-3.jpeg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/Masajes-4.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure >
                    <img src="{% static 'img/Facial-2.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/depi-1.jpeg' %}" >
                </figure>
            </div>
        </div>
        <hr>

{% endblock %}
