{% extends "../base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/galeria.css' %}"> <!--DENTRO ESTÁ TAMBIÉN EL CÓDIGO CSS DE LA GALERÍA-->
    <!--<link rel="stylesheet" href="{% static 'css/galeria.css' %}"> -->
{% endblock %}

{% block title%}
    Galería
{% endblock %}

{% block body %}
    
    <div class="contenedor-galeria">
        <div class="galeria">
            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una3.jpg' %}">
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una2.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/estudio4.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una4.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una5.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una6.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una10.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una16.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una7.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una9.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/estudio2.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una1.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure >
                    <img src="{% static 'img/una11.jpg' %}" >
                </figure>
            </div>

            <div class="contenedor-imagen">
                <figure>
                    <img src="{% static 'img/una13.jpg' %}" >
                </figure>
            </div>

        </div>
    </div>

{% endblock %}
