<!-- templates/inicio/preguntas_frecuentes.html -->
{% extends 'base.html' %}

{% block content %}
<div class="banner">
    <h1>Preguntas Frecuentes</h1>
    <p>Encuentra respuestas a las preguntas más comunes.</p>
</div>

<div class="faq-list">
    <div class="faq-item">
        <h3>¿Cómo puedo reservar un turno?</h3>
        <p>Puedes reservar un turno desde la sección de Servicios en nuestra aplicación.</p>
    </div>

    <div class="faq-item">
        <h3>¿Cómo puedo cancelar un turno?</h3>
        <p>Para cancelar un turno, ve a la sección de Mis Turnos y selecciona el turno que deseas cancelar.</p>
    </div>
</div>
{% endblock %}
