.product-item {
    text-align: center;
    padding: 20px; /* Reducir el espacio interno */
}
.product-item .img-container {
    max-height: 1000px;
    overflow: hidden;
    margin-bottom: 50px; /* Reducir el margen inferior */
}
.product-item img {
    width: 1000%;
    height: auto;
}
.owl-nav button {
    background-color: pink; /* Color de fondo rosa */
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.owl-nav button.owl-prev {
    left: 20px; /* Posición de la flecha izquierda */
}
.owl-nav button.owl-next {
    right: 20px; /* Posición de la flecha derecha */
}
.owl-nav button span {
    font-size: 1.5em;
    color: white; /* Color de la flecha */
}