.div-body{ /* Contenedor de todo */
    width: 100%;
    height: 100%;
    position:static;
    /*background-image: linear-gradient(to right,
    #ffd2ec, 
    #ffcaec, 
    #ffc1ed, 
    #ffb9ee, 
    #ffb1f0, 
    #ffb1f0, 
    #ffb1f0, 
    #ffb1f0, 
    #ffb9ee, 
    #ffc1ed, 
    #ffcaec, 
    #ffd2ec
    );*/
}
.panel-central{ /* Panel */
    /*background: rgb(255, 254, 254);*/
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    position: relative;
    text-align: center;
    transition: all 300ms;
}
.carrusel-body{ /* Contenedor del contenedor del contenedor de las imagenes, fondo de las imagenes */
    width: 100%; /*ancho del contenedor*/
    height: 380px; /*alto del contenedor*/
    overflow: hidden;
}
.content-all{ /* Contenedor del contenedor de las imagenes */
    width: 210px; 
    margin: auto;
    perspective: 700px;
    
}
.content-carrousel{ /* Contenedor de todas las imagenes */
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: grab;
    user-select: none;
}
.carrusel-item{ /* Contenedor de cada imagen*/
    position: absolute;
    left: 10px;
    right: 10px;
    height: 124px;
    background-size: cover;
    box-shadow: 0px 0px 20px 0px rgb(89, 2, 83);
    border: 2px solid #37002c;
    transition: all 300ms;
}
.carrusel-item:hover{ /* Cuando el cursor pasa sobre el contenedor, cambia su diseño */
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}
.carrusel-item figure{ /* Todos los elementos figure que pertenescan a la clase */
    z-index: -2;
    width: 100%;
    height: 120px;
    position: absolute;
    overflow: hidden;
    display: flex;
}
.carrusel-item img{ /* Imagen */
    width: 100%;
    transition: all 300ms;
}
.carrusel-item img:hover{ /* Cuando el cursor pasa sobre la imagen, cambia su diseño */
    transform: scale(1.2);
    transition: all 300ms;
}
.carrusel-item div{ /* Contenedor del texto y boton */
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 50%;
    position: relative;
    overflow: hidden;
}
/* Cada elemento que pertenesca a la clase, carga su propias caracteristicas */
.carrusel-item:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.carrusel-item:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.carrusel-item:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.carrusel-item:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.carrusel-item:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.carrusel-item:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.carrusel-item:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.carrusel-item:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.carrusel-item:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.carrusel-item:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.con-serv{ /* contenedores div */
    background: rgba(74, 0, 67, 0.083);
}

@media screen and (max-width:900px){/* Modifica elementos en un determinada resolucion */
    .panel-central{
        width: 90%;
        transition: all 300ms;
    };
    .carrusel-body{
        position: fixed;
        width: 800px;
    };
    .content-carrousel {
        position: fixed;
        font-size: 10px;
    };
}
@media screen and (max-width:600px){
    .panel-central{
        width: 100%;
        transition: all 300ms;
    };
    .carrusel-body{
        width: 600px;
    };
    .content-carrousel {
        position: fixed;
        font-size: 7px;
    };
}

.div-accordion{ /* Contenedor de toda la lista */
    margin: auto 50px auto 50px;
    border: 5px solid #4c003d35;
    border-radius: 20px;
    overflow: hidden;
}

.div-accordion h2{ /* Titulo de la lista */
    margin: 10px
}

.accordion { /* Banner del servicio cargado */
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion img{ /* Propiedades de la imagen del servicio */
    position: relative;
    width: 100%;
    height: 100px;
    margin: auto;
    overflow: hidden;
    display: flex;
    opacity: 0.7;
}
.accordion-text { /* Propiedades del nombre del servicio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.accordion.active, .accordion:hover{ /* Cuando el banner sea activado o el raton este sobre el elemento */
    color: #eee;
    background-color: #96006b9d;
}

/*.accordion:after {  Creo que ya no es necesario 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}*/

/*.accordion.active:after {  Obviamente no es necesario xd 
}*/

div.panel { /* Contenedor de la descripcion y botones del servicio */
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
.panel-descripcion { /* Contenedor de la descripcion */
    margin-top: 10px;
}
.btn-servicio{ /* Propiedades de los botones */
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #F195B2;
}
div.panel.show { /* Efecto al activarse el banner del servicio */
    opacity: 1;
    max-height: 500px;
}
 /* Estilo para el fondo de la página */
 body {
    background-color: #ffffff; /* Color rosa claro */
}

/* Estilo personalizado para el contenedor del formulario lo mantiene mas chico t*/
.form-container {
    max-width: 500px; 
    margin: 0 auto; /* Centrar el formulario en la página */
    padding: 20px; /* Espaciado interno */
    background-color: rgb(223, 219, 219); /* Fondo blanco para el formulario */
    border-radius: 10px; /* Bordes redondeados */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo personalizado para botones rosa */
.btn-rosa {    
    background-color: #F195B2; 
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    transition: background-color 0.3s; /* Transición del colorrr */
}

.btn-rosa:hover {
    background-color: #F195B2; /* al pasar el mouse se pone rosa creo que no me hace caso */
    color: #96006b9d;
}