{% extends "../base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/servicios.css' %}"> <!-- CSS DE LOS SERVICIOS -->
{% endblock %}

{% block title%}
    Servicios
{% endblock %}

{% block body %}
    <div class="panel-central">
        <!-- Titulo -->
        <div class="container text-center py-5">
            <h2 class="text-primary display-3 mb-4">Servicios</h2>
        </div>
        <!-- Titulo Fin -->
        <div class="row justify-content-center bg-appointment mx-0">
            <div class="col-lg-6 py-1 mb-3 con-serv">
                <div class="p-2 my-1">
                    <h3>"Los servicios mas solicitados"</h3>
                </div>
            </div>  
        </div>
        <!-- Carrusel 3D -->
        <div class="py-5 carrusel-body">
            <div class="content-all">
                <div class="content-carrousel">
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Mas detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/opening.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Mas detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/Masajes-3.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/depi.jpeg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/Pestanias4.png' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/alisado1.jpeg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/cejas.jpeg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/depi axila.jpeg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una14.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carrusel 3D Fin -->
        <!-- Lista de servicios -->
        <div class="div-accordion mb-5">
            <h2>Estos son los servicios que te ofrecemos</h2>
            <div class="accordion">
                <img src="{% static 'img/una11.jpg' %}" alt="">
                <div class="accordion-text"><h1>Nombre de servicio</h1></div>
            </div>
            <div class="panel">
                <div class="panel-descripcion">
                    <p>Descripcion y precio del servicio</p>
                </div>
                <a href="#" class="btn btn-primary btn-servicio">Ver mas</a>
                <button class="btn btn-primary btn-servicio">Solicitar Turno</button>
            </div>
            <div class="accordion">
                <img src="{% static 'img/una11.jpg' %}" alt="">
                <div class="accordion-text"><h1>Nombre de servicio</h1></div>
            </div>
            <div class="panel">
                <div class="panel-descripcion">
                    <p>Descripcion y precio del servicio</p>
                </div>
                <a href="#" class="btn btn-primary btn-servicio">Ver mas</a>
                <button class="btn btn-primary btn-servicio">Solicitar Turno</button>
            </div>
            <div class="accordion">
                <img src="{% static 'img/una11.jpg' %}" alt="">
                <div class="accordion-text"><h1>Nombre de servicio</h1></div>
            </div>
            <div class="panel">
                <div class="panel-descripcion">
                    <p>Descripcion y precio del servicio</p>
                </div>
                <a href="#" class="btn btn-primary btn-servicio">Ver mas</a>
                <button class="btn btn-primary btn-servicio">Solicitar Turno</button>
            </div>
        </div>
        <!-- Lista de servicios Fin -->
        <section  id="Turno">
        </section>
        <!--Comienza Reserva de Turno por favor no tocar Talia -->  
        .form-container {
            max-width: 400px; /* Ancho máximo del formulario reducido a 100px */
            margin: 0 auto; /* Centrar el formulario en la página */
            padding: 8px; /* Espaciado interno reducido */
            background-color: white; /* Fondo blanco para el formulario */
            border-radius: 5px; /* Bordes redondeados */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
        }
        <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Reserva de Turno</title>
                    <!-- Bootstrap CSS -->
                    <link rel="" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                    <style>
                        /* Estilo para el fondo de la página */
                        body {
                            background-color: #fdfdfd; /* Color rosa claro */
                        }
                
                        /* Estilo personalizado para el contenedor del formulario lo mantiene mas chico t*/
                        .form-container {
                            max-width: 50px; 
                            margin: 0 auto; /* Centrar el formulario en la página */
                            padding: 10px; /* Espaciado interno */
                            background-color: white; /* Fondo blanco para el formulario */
                            border-radius: 10px; /* Bordes redondeados */
                            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
                        }
                
                        /* Estilo personalizado para botones rosa */
                        .btn-rosa {
                            background-color: #F195B2; 
                            color: white; /* Color del texto */
                            border: none; /* Sin borde */
                            border-radius: 5px; /* Bordes redondeados */
                            padding: 10px 10px; /* Espaciado interno */
                            transition: background-color 0.3s; /* Transición del colorrr */
                        }
                
                        .btn-rosa:hover {
                            background-color: #ff85c2; /* al pasar el mouse se pone rosa creo que no me hace caso */
                        }
                    </style>
                </head>
                <body>
                
                <div class="container">
                    <h1 class=" text-center mb-4">Reservá Tu Turno</h1>
                    <div class="form-container"> <!-- contiene al formulario -->
                        <form id="appointmentForm">
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputName">Ingresa tu Nombre</label>
                                        <input type="text" class="form-control" id="inputName" placeholder="Nombre" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail">Ingresa tu Email</label>
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputDate">Seleccione un día</label>
                                        <input type="date" class="form-control" id="inputDate" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputTime">Seleccione un horario</label>
                                        <input type="time" class="form-control" id="inputTime" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="serviceSelect">Seleccione un servicio</label><!--Los servicos listado T-->
                                        <select id="serviceSelect" class="form-control" required>
                                            <option value="" disabled selected>Seleccione un servicio</option>
                                            <option value="Depilación">Depilación</option>
                                            <option value="Masajes">Masajes</option>
                                            <option value="Uñas">Uñas</option>
                                            <option value="Alisado">Alisado</option>
                                            <option value="Faciales">Faciales</option>
                                            <option value="Cejas">Cejas</option>
                                            <option value="Pestañas">Pestañas</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="professionalSelect">Seleccione un profesional</label><!--Listado Personal-->
                                        <select id="professionalSelect" class="form-control" required>
                                            <option value="" disabled selected>Seleccione un profesional</option>
                                            <option value="Dani">Dani</option>
                                            <option value="Nati">Nati</option>
                                            <option value="Nicol">Nicol</option>
                                            <option value="Andre">Andre</option>
                                            <option value="Flor">Flor</option>
                                            <option value="Mica">Mica</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <button class="btn-rosa btn-block" type="submit">Solicitar Turno</button>
                            </div>
                        </form>
                    </div>
                
                    <div class="row justify-content-center bg-appointment mx-0 mt-4">
                        <div class="col-lg-6 py-1 mb-5 con-serv">
                            <div class="p-5 my-1">
                                <h3>"Porque mereces lo mejor, asegúrate de tu turno hoy mismo"</h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal de Confirmación -->
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Confirmación de Reserva</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¡Su turno fue reservado con éxito!</p>
                                <p><strong>Nombre:</strong> <span id="confirmName"></span></p>
                                <p><strong>Email:</strong> <span id="confirmEmail"></span></p>
                                <p><strong>Fecha:</strong> <span id="confirmDate"></span></p>
                                <p><strong>Hora:</strong> <span id="confirmTime"></span></p>
                                <p><strong>Servicio:</strong> <span id="confirmService"></span></p>
                                <p><strong>Profesional:</strong> <span id="confirmProfessional"></span></p>
                            </div>
                            <div class="modal-footer">
                                <button id="closeModalButton" class="btn-rosa">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- jQuery y Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                
                <script>
                    document.getElementById('appointmentForm').addEventListener('submit', function(event) {
                        // Evita el envío del formulario para que no se recargue la página
                        event.preventDefault();
                
                        // Captura los valores de los campos del formulario los datos
                        const name = document.getElementById('inputName').value;
                        const email = document.getElementById('inputEmail').value;
                        const date = document.getElementById('inputDate').value;
                        const time = document.getElementById('inputTime').value;
                        const service = document.getElementById('serviceSelect').value;
                        const professional = document.getElementById('professionalSelect').value;
                
                        // Inserta los valores en el modal
                        document.getElementById('confirmName').textContent = name;
                        document.getElementById('confirmEmail').textContent = email;
                        document.getElementById('confirmDate').textContent = date;
                        document.getElementById('confirmTime').textContent = time;
                        document.getElementById('confirmService').textContent = service;
                        document.getElementById('confirmProfessional').textContent = professional;
                
                        // Muestra el modal de confirmación si esta oka 
                        $('#confirmationModal').modal('show');
                    });
                
                    // Cierra el modal cuando haces clik
                    document.getElementById('closeModalButton').addEventListener('click', function() {
                        $('#confirmationModal').modal('hide');
                    });
                </script>
                </body>
                </html>
                

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/catalogoservicios.js' %}" type="text/javascript"></script>
{% endblock %}