{% extends "../base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/servicios.css' %}"> <!-- CSS DE LOS SERVICIOS -->
{% endblock %}

{% block title%}
    Servicios
{% endblock %}

{% block body %}
    <div class="panel-central">
        <!-- Titulo -->
        <div class="container text-center py-5">
            <h2 class="text-primary display-3 mb-4">Servicios</h2>
        </div>
        <!-- Titulo Fin -->
        <div class="row justify-content-center bg-appointment mx-0">
            <div class="col-lg-6 py-1 mb-3 con-serv">
                <div class="p-2 my-1">
                    <h3>"Los servicios mas solicitados"</h3>
                </div>
            </div>  
        </div>
        <!-- Carrusel 3D -->
        <div class="py-5 carrusel-body">
            <div class="content-all">
                <div class="content-carrousel">
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Mas detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Mas detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                    <div class="carrusel-item">
                        <figure>
                            <img src="{% static 'img/una11.jpg' %}" draggable="false">
                        </figure>
                        <div>
                            <a href="#" class="btn btn-reservar" draggable="false">Más detalle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carrusel 3D Fin -->
        <!-- Lista de servicios -->
        <h2>Estos son los servicios que te ofrecemos</h2>
        <p>In this example we have added a "plus" sign to each button. When the user clicks on the button, the "plus" sign is replaced with a "minus" sign.</p>
        <div class="div-accordion">
            <div class="accordion">
                <figure><img src="{% static 'img/una11.jpg' %}" alt=""></figure> 

            </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            <button class="accordion">Section 2</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <button class="accordion">Section 3</button>
            <div id="foo" class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <!-- Lista de servicios Fin -->
        <!-- Service Start Reserva de Turnos -->  
        <div class="row justify-content-center bg-appointment mx-0">
            <div class="col-lg-6 pb-5 mb-5 con-serv">
                <div class="p-5 my-1"> 
                    <h1 class="text-primary text-center mb-4">Reservá Tu Turno</h1>
                    <form class="">
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputName"> </label>
                                    <input type="text" class="form-control" id="inputName" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputEmail"> </label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <label for="inputDate"> Seleccione un día</label>
                                        <input type="date" class="form-control" id="inputDate" placeholder="Data gg/mm/aaaa">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <label for="inputTime"> Seleccione un horario</label>
                                        <input type="time" class="form-control" id="inputTime" placeholder="Timetables">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" style="height: 47px;"><!--DESPLEGABLE-->
                                        <option selected>Seleccione un servicio</option>
                                        <option value="1">Depilación</option>
                                        <option value="2">Masajes</option>
                                        <option value="3">Uñas</option>
                                        <option value="4">Alisado</option>
                                        <option value="5">Faciales</option>
                                        <option value="6">Cejas</option>
                                        <option value="6">Pestañas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" style="height: 47px;"><!--DESPLEGABLE-->
                                        <option selected>Seleccione un profesional</option>
                                        <option value="1">Dani</option>
                                        <option value="2">Nati</option>
                                        <option value="3">Nicol</option>
                                        <option value="4">Andre</option>
                                        <option value="5">Flor</option>
                                        <option value="6">Mica</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary btn-block" type="submit" style="height: 47px;">Solicitar Turno</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-appointment mx-0">
            <div class="col-lg-6 py-1 mb-5 con-serv">
                <div class="p-5 my-1">
                    <h3>"Porque mereces lo mejor, asegúrate de tu turno hoy mismo"</h3>
                </div>
            </div>  
        </div>
    </div>
    <!-- Service End -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/catalogoservicios.js' %}" type="text/javascript"></script>
{% endblock %}