{% extends 'base.html' %} <!-- Carga el archivo HTML de base -->
{% load static %} <!-- Carga la carpeta de static -->

{% block style %} <!-- Bloque style encargado de importar/cargar librerias o archivos personales de CSS -->

{% endblock %} <!-- Fin del bloque style-->

{% block title %}{% endblock %} <!-- Bloque que modifica el titulo de la pestaña/pantalla -->

{% block body %} <!-- Bloque body encargado de todo el cuerpo HTML, aqui se trabaja con el contenido del archivo -->

{% endblock %} <!-- Fin del bloque body -->

{% block scripts %} <!-- Bloque scripts encargado de importa/cargar librerias o archivos personales JS -->

{% endblock %} <!-- Fin del bloque scripts -->